In [1]:
class Employee:
    pass

In [2]:
raj = Employee()

In [3]:
raj.name = "rajath"
raj.age = 33
raj.salary = 30000

In [4]:
raj.__dict__

{'name': 'rajath', 'age': 33, 'salary': 30000}

In [5]:
bob = Employee()
bob.name = "Bob"
bob.age = 25
bob.salary = 50000

In [6]:
bob.__dict__

{'name': 'Bob', 'age': 25, 'salary': 50000}

In [ ]:
class Employee:
    no_of_emps = 0
    hike_percent = 1.10

    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        Employee.no_of_emps = Employee.no_of_emps + 1

    def printid(self):
        print(self.name, self.age)

    def hike(self):
        self.salary = self.salary * Employee.hike_percent

In [15]:
emp_01 = Employee('Rajath', 33, 30000)
emp_02 = Employee('Bob', 25, 50000)

In [16]:
Employee.no_of_emps

2

In [12]:
emp_01.__dict__

{'name': 'Rajath', 'age': 33, 'salary': 30000}

In [13]:
emp_01.printid()

Rajath 33